In [1]:
import pandas as pd

In [2]:
# upload txt file to dataframe
df = pd.read_csv('data/ecommerce.txt')

In [3]:
# convert txt file to csv file
df.to_csv('data/ecommerce.csv', index=False)

In [4]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900.0,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561.0,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699.0,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384.0,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678.0,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771 entries, 0 to 1770
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           1771 non-null   object
 1   Lot               1771 non-null   object
 2   AM or PM          1771 non-null   object
 3   Browser Info      1771 non-null   object
 4   Company           1771 non-null   object
 5   Credit Card       1771 non-null   int64
 6   CC Exp Date       1770 non-null   object
 7   CC Security Code  1770 non-null   float64
 8   CC Provider       1770 non-null   object
 9   Email             1770 non-null   object
 10  Job               1770 non-null   object
 11  IP Address        1770 non-null   object
 12  Language          1770 non-null   object
 13  Purchase Price    1770 non-null   float64
dtypes: float64(2), int64(1), object(11)
memory usage: 193.8+ KB

In [6]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.771000e+03       1770.000000     1770.000000
mean   2.300673e+15        876.376271       50.014153
std    2.292999e+15       1558.359699       28.940997
min    6.304000e+03          1.000000        0.030000
25%    3.049768e+13        281.000000       24.305000
50%    8.699756e+14        540.500000       50.640000
75%    4.529728e+15        807.000000       75.295000
max    6.012000e+15       9988.000000       99.790000

In [7]:
len(df)

1771

In [8]:
df.size

24794

In [9]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         1
CC Security Code    1
CC Provider         1
Email               1
Job                 1
IP Address          1
Language            1
Purchase Price      1
dtype: int64

In [10]:
df[df.Language == 'en'].isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [11]:
df['Purchase Price'].mean()

50.014152542372884

In [12]:
df['Purchase Price'].sum()

88525.05

In [13]:
df['Purchase Price'].min()

0.03

In [14]:
df['Purchase Price'].max()

99.79

In [15]:
df[df.Job == "Lawyer".upper()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           0 non-null      object
 1   Lot               0 non-null      object
 2   AM or PM          0 non-null      object
 3   Browser Info      0 non-null      object
 4   Company           0 non-null      object
 5   Credit Card       0 non-null      int64
 6   CC Exp Date       0 non-null      object
 7   CC Security Code  0 non-null      float64
 8   CC Provider       0 non-null      object
 9   Email             0 non-null      object
 10  Job               0 non-null      object
 11  IP Address        0 non-null      object
 12  Language          0 non-null      object
 13  Purchase Price    0 non-null      float64
dtypes: float64(2), int64(1), object(11)
memory usage: 0.0+ bytes

In [16]:
# 10 most common job titles
df['Job'].value_counts().head(10)

Planning and development surveyor       8
Air cabin crew                          8
Therapist, sports                       8
Interior and spatial designer           7
Control and instrumentation engineer    7
Risk analyst                            7
Graphic designer                        7
Call centre manager                     7
Musician                                7
Minerals surveyor                       7
Name: Job, dtype: int64

In [17]:
# 10 least common job titles
df.Job.value_counts().tail(10)

Health service manager                               1
Podiatrist                                           1
Ship broker                                          1
Historic buildings inspector/conservation officer    1
Patent examiner                                      1
Psychotherapist                                      1
Investment analyst                                   1
Naval architect                                      1
Systems analyst                                      1
Logistics and distribution manager                   1
Name: Job, dtype: int64

In [18]:
df[df['Credit Card'] == 4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [19]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [20]:
df[df['Credit Card'] == 4926535242672853].Job

1234    Planning and development surveyor
Name: Job, dtype: object

In [21]:
# get a list of everyone who have made a purchase above 95 and whose credit card provider is 'American Express'
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931.0,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
280,81060 Dustin Causeway Apt. 503\nPort Danielche...,80 zh,PM,Mozilla/5.0 (Windows NT 5.01) AppleWebKit/5362...,Clay PLC,377737470673585,10/17,349.0,American Express,hfarley@hicks.com,Ergonomist,134.52.148.32,de,99.13
372,"359 Stanley Coves\nSalasfort, SD 59457",75 Ub,PM,Opera/8.42.(X11; Linux x86_64; en-US) Presto/2...,Davis-Lawrence,371995567939253,02/26,1877.0,American Express,amberhull@jones.net,Training and development officer,198.98.34.250,pt,99.08
677,"4855 Peter Bridge\nJohnsonberg, PA 90599-0009",62 Nx,AM,Opera/9.49.(Windows 98; Win 9x 4.90; en-US) Pr...,Jones and Sons,4960556611626434,07/26,9255.0,American Express,evanskayla@fernandez.com,Plant breeder/geneticist,235.97.240.112,el,98.97
766,"386 Alisha Unions\nSteelebury, ND 19782",28 pJ,PM,Opera/8.47.(X11; Linux x86_64; sl-SI) Presto/2...,Proctor PLC,30325623350308,04/24,772.0,American Express,robertsonjulia@gmail.com,"Therapist, art",146.208.30.83,es,96.66
1225,"916 Amanda Heights\nNew Johnland, CA 52112-8572",09 vg,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Clark, Ross and Travis",371229555854245,10/21,366.0,American Express,lawrencecarter@kelly.com,Artist,88.49.59.205,pt,96.55
1381,"79284 Lisa Mews Suite 069\nKellyborough, CT 71...",45 MR,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_5; r...,Randall-Cohen,4855262855037,05/17,518.0,American Express,maldonadomichael@martinez-delgado.info,Geophysical data processor,50.40.147.204,it,96.11
1385,"67796 James Keys Suite 656\nSouth Katieshire, ...",06 ia,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5330 ...,"Gonzalez, Gross and Allen",30407332938506,12/20,597.0,American Express,vbrown@daugherty.com,Geophysical data processor,152.133.246.191,zh,98.89
1568,"76108 Barker Manors\nEast Amy, PW 49544-5921",82 Qw,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,"Nguyen, Branch and Wiley",5142451859832464,04/21,785.0,American Express,johnsonjulie@yahoo.com,Insurance claims handler,175.248.232.126,es,97.04
1727,"478 Anita Hill Apt. 766\nAverymouth, FM 50629-...",94 qM,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Owen and Sons,30242757909967,11/19,7403.0,American Express,sharpmelanie@smith-johnson.com,"Psychologist, prison and probation services",126.47.196.22,ru,95.58

In [22]:
df['CC Provider'].unique()

array(['JCB 16 digit', 'Mastercard', 'Discover',
       'Diners Club / Carte Blanche', 'VISA 16 digit', 'VISA 13 digit',
       'American Express', 'Voyager', 'JCB 15 digit', 'Maestro', nan],
      dtype=object)

In [23]:
df[(df['CC Provider'] == 'VISA 16 digit') & (df['Purchase Price'] < 50)].value_counts()

Address                                                    Lot    AM or PM  Browser Info                                                                                                                     Company                        Credit Card       CC Exp Date  CC Security Code  CC Provider    Email                        Job                           IP Address       Language  Purchase Price
0024 Smith Tunnel Suite 760\nPort Leeton, CO 85240-0879    52 Eg  PM        Mozilla/5.0 (compatible; MSIE 7.0; Windows NT 6.1; Trident/4.1)                                                                  Lane, Graves and Coleman       3088842158087639  11/25        529.0             VISA 16 digit  perrydavid@gmail.com         Retail banker                 69.198.36.193    fr        0.33              1
809 Reginald Parkway Suite 895\nAvilashire, AR 12143-5287  90 NI  PM        Mozilla/5.0 (Windows; U; Windows NT 5.2) AppleWebKit/532.10.7 (KHTML, like Gecko) Version/4.1 Safari/532.10.7                    Ward, Lee and Robinson         3096304838993165  12/23        801.0             VISA 16 digit  ryandavis@curtis.com         Sales professional, IT        64.52.36.13      de        0.72              1
735 Kelly Path Suite 743\nKaylaland, SC 10887-4567         67 iB  PM        Mozilla/5.0 (Windows CE) AppleWebKit/5352 (KHTML, like Gecko) Chrome/13.0.881.0 Safari/5352                                      Krause-Kim                     342358536004202   06/25        629.0             VISA 16 digit  lisarivera@yahoo.com         Claims inspector/assessor     184.215.52.233   ru        18.59             1
74327 Sean Camp Apt. 641\nSinghchester, IL 06741-3995      34 Oh  AM        Mozilla/5.0 (compatible; MSIE 6.0; Windows NT 5.0; Trident/4.1)                                                                  Wright, Stephenson and Reilly  30366628684986    12/25        924.0             VISA 16 digit  brandon14@dunlap.net         Amenity horticulturist        80.180.57.166    fr        24.10             1
75733 Turner Motorway\nMichaelmouth, LA 60199              04 kL  PM        Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_9 rv:3.0; sl-SI) AppleWebKit/533.11.7 (KHTML, like Gecko) Version/4.1 Safari/533.11.7  Castillo-Santiago              30164819324177    10/17        9363.0            VISA 16 digit  nicole11@yahoo.com           Risk analyst                  181.15.248.8     es        10.59             1
                                                                                                                                                                                                                                                                                                                                                                                                                   ..
332 Eric Station Suite 517\nSanchezton, WA 31574           85 DR  PM        Mozilla/5.0 (compatible; MSIE 9.0; Windows 98; Trident/3.0)                                                                      Wood LLC                       344084359700795   07/24        227.0             VISA 16 digit  kleintroy@mejia.com          Database administrator        22.51.73.234     ru        27.34             1
3269 Lee Inlet\nColonview, NY 82507                        81 QH  AM        Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5322 (KHTML, like Gecko) Chrome/14.0.891.0 Safari/5322                               Knight and Sons                4106649031763     06/26        1.0               VISA 16 digit  mccoymichelle@gmail.com      Journalist, newspaper         44.13.60.208     es        9.41              1
324 Ryan Pike Suite 134\nJillland, VI 03398                31 nX  AM        Mozilla/5.0 (Windows 98) AppleWebKit/5321 (KHTML, like Gecko) Chrome/14.0.861.0 Safari/5321                                      Turner, Juarez and Barnes      4107899971187     01/17        6113.0            VISA 16 digit  diazronald@gmail.com         Buyer, retail                 76.32.252.85     el        17.65             1
3119 Scott Throughway Suite 590\nCharlesborough, NC 28543  44 QK  AM        Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5330 (KHTML, like Gecko) Chrome/14.0.806.0 Safari/5330                               Ortiz and Sons                 4689681072647     08/23        73.0              VISA 16 digit  jilliancarr@fleming.info     Teacher, secondary school     217.203.235.236  ru        46.63             1
Unit 9759 Box 0499\nDPO AP 33492                           62 so  AM        Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) Gecko/2016-05-03 15:51:15 Firefox/3.6.3                                             Keller Group                   6011355519082954  10/24        105.0             VISA 16 digit  melissamckenzie@edwards.com  Trade union research officer  144.192.61.166   en        11.74             1
Length: 136, dtype: int64